%table.table
  %thead
    %tr
      %th{scope: "col"} ID
      %th{scope: "col"} タイトル
      %th{scope: "col"} カテゴリ
      %th{scope: "col"} ユーザ
      %th{scope: "col"} 更新日時
      %th{:colspan => "2"}
  %tbody.diary-index
    = render "index", diaries: @diaries, users: @users, categories: @categories
%br/
= link_to 'New diary', new_diary_path, remote: true
#diary-modal.modal.fade{"aria-hidden" => "true", :role => "dialog", :tabindex => "-1"}
