%h3 New Diary
-# = render 'form', diary: @diary, categories: @categories
-# = link_to '戻る', diaries_path

%h1 Listing products
%table.table
  %thead
    %tr
      %th Name
      %th{:colspan => "2"}
  %tbody.product-index
    -# = render "index"
%br/
= link_to 'New Product', '#', remote: true

#product-modal.modal.fade{"aria-hidden" => "true", :role => "dialog", :tabindex => "-1"}
