- if user_signed_in?
  %h3 My diary lists
%hr
.row
  - if @my_diaries
    - @my_diaries.each do |diary|
      = render 'diaries/diary_card', diary: diary, categories: @categories

#diary-modal.modal.fade{"aria-hidden" => "true", :role => "dialog", :tabindex => "-1"}
