%hr
.title
  %h2.site-title
    [Footer]

/ Default dropup button
.btn-group.dropup
  %button.btn.btn-secondary.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
    Dropup
  .dropdown-menu
    / Dropdown menu links
/ Split dropup button
.btn-group.dropup
  %button.btn.btn-secondary{:type => "button"}
    Split dropup
  %button.btn.btn-secondary.dropdown-toggle.dropdown-toggle-split{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
    %span.sr-only Toggle Dropdown
  .dropdown-menu
    / Dropdown menu links
