- path = request.path
%header#app--header
  %nav.navbar.navbar-expand-md.navbar-dark.bg-dark
    .navbar-brand
      = link_to 'Diary App', '/'
    %ul.navbar-nav.ml-auto
      %li.nav-item
        = link_to 'Signup', '#'
      %li.nav-item
        = link_to 'Signin', '#'
      %li.nav-item
        = link_to 'Logout', '#'
